---
import Link from '@/components/ui/link'
import { Undo2Icon } from '@/icons'

interface Props {
  title: string
  subtitle?: string
  subtitleDate?: boolean
}

const { title, subtitle, subtitleDate = false } = Astro.props
---

<header class="mb-6">
  <Link href="/" className="border-none font-medium gap-1 text-sm mb-2.5">
    <Undo2Icon /> Volver
  </Link>

  <h1>{title}</h1>
  {
    subtitle && (
      <p>
        {subtitleDate ? (
          <time datetime={subtitle}>{subtitle}</time>
        ) : (
          <span>{subtitle}</span>
        )}
      </p>
    )
  }
  <slot />
</header>

<style>
  h1 {
    @apply mb-0.5 font-medium;
  }

  p {
    @apply text-muted-foreground;
  }
</style>
