---
import type { GetStaticPaths } from 'astro'
import Image from 'astro/components/Image.astro'

import { getFilteredPosts } from '@/lib/utils'

import Root from '@/layouts/Root.layout.astro'
import Main from '@/layouts/Main.layout.astro'
import Markdown from '@/layouts/Markdown.layout.astro'

import BackLink from '@/components/widgets/BackLink.astro'

import articleImage from '@/assets/articles/el-principio-del-universo.webp'

export const getStaticPaths = (async () => {
  const articles = await getFilteredPosts('articles')

  return articles.map((article) => ({
    params: { slug: article.slug },
    props: { article }
  }))
}) satisfies GetStaticPaths

const { article } = Astro.props
const { Content } = await article.render()
---

<Root>
  <Main>
    <header class="mb-8">
      <BackLink />
      <h1 class="text-xl font-medium line-height-tight mb-1 mt-2 text-header">
        El principio del universo: Desde las partículas hasta las estrellas
      </h1>
      <time class="text-sm text-muted-foreground" datetime="2024-09-01"
        >21 sep, 2024</time
      >
      <figure>
        <Image src={articleImage} class="mt-6" alt="image" />
        <figcaption class="text-xs text-muted-foreground mt-2">
          Origen:
          physics.oregonstate.edu/research/quantum-cosmology-and-foundations
        </figcaption>
      </figure>
    </header>
    <Markdown class="pb-24">
      <Content />
      <aside
        class="relative w-screen -left-50vw -right-50vw ml-1/2 mr-1/2 border-t border-b py-8 mt-18 bg-muted"
      >
        <div class="max-w-screen-xs px-4 ma">
          <p>Gracias por leer :></p>
          <p>
            Suscríbete a mi <a href="/rss">RSS</a> o <a href="/newsletter"
              >newsletter</a
            > para estar atento a futuras divagaciones.
          </p>
          <p class="text-sm! text-foreground/70! mt-8!">
            Un saludo.<br />— Michelangelo
          </p>
        </div>
      </aside>
    </Markdown>
  </Main>
</Root>
