---
import { InfoIcon, ShareIcon, CopyIcon } from '@/icons'

import Button from '@/components/ui/button'

import LikeButton from '@/components/widgets/like-button'
---

<aside class="flex justify-between items-center">
  <div>
    <Button className="size-8" variant="ghost" size="icon">
      <InfoIcon />
    </Button>
    <Button className="size-8" variant="ghost" size="icon">
      <ShareIcon />
    </Button>
    <Button className="size-8" variant="ghost" size="icon">
      <CopyIcon />
    </Button>
  </div>
  <LikeButton client:visible />
</aside>
