---
import { getCollection } from 'astro:content'

import ArticleItem from '@/components/view/ArticleItem.astro'

interface Props {
  category: string
  slug: string
}

const { category, slug } = Astro.props

const relatedArticles = (
  await getCollection(
    'articles',
    (article) =>
      !article.data.isDraft &&
      article.data.category === category &&
      article.slug !== slug
  )
).slice(0, 3)
---

{
  relatedArticles.length ? (
    <aside class="mb-12">
      <h2 class="mb-3">Relacionado</h2>
      <ul>
        {relatedArticles.map((article) => (
          <ArticleItem {article} />
        ))}
      </ul>
    </aside>
  ) : null
}
