html {
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-padding-top: 2.5rem;
}

::selection {
  background-color: hsl(var(--im-selection));
  color: hsl(var(--im-selection-foreground));
}

svg {
  width: 1em;
  height: 1em;
}

* {
  border-color: hsl(var(--im-border));
}
