html {
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-padding-top: 2.5rem;
}

body:focus-visible,
*:focus-visible {
  @apply outline-none ring-2 ring-ring ring-offset-2;
}

::selection {
  background-color: hsl(var(--im-selection));
  color: hsl(var(--im-selection-foreground));
}

svg {
  width: 1em;
  height: 1em;
}

* {
  border-color: hsl(var(--im-border));
}
