@import url('https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css');

.prose {
  position: relative;

  color: hsl(var(--im-foreground));

  a {
    color: hsl(var(--im-link));
    text-decoration: none;
    border-bottom: 1px solid hsl(var(--im-link) / 0.25);

    transition: border 100ms ease-in-out;

    &:hover {
      border-bottom: 1px solid hsl(var(--im-link));
    }
  }

  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  h2,
  h3,
  h4 {
    color: hsl(var(--im-accent-foreground));
  }

  h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 500;

    margin-top: 2.5rem;
    margin-bottom: 1.25rem;

    &:first-of-type {
      margin-top: 1rem;
    }
  }

  h3 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 500;

    margin-top: 2.25rem;
    margin-bottom: 1rem;
  }

  h4 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;

    margin-top: 2rem;
    margin-bottom: 0.75rem;
  }

  p > code {
    font-size: 0.8em;
    font-weight: 500;

    padding: 0.25rem 0.5rem;
    border-radius: var(--im-radius);

    background-color: hsl(var(--im-code));
    color: hsl(var(--im-code-foreground));

    &::before {
      content: '';
    }

    &::after {
      content: '';
    }
  }
}
