@import url('https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css');

/* prose */
.prose {
  position: relative;
  color: hsl(var(--im-foreground));
}

.prose figure {
  p,
  img {
    margin-block-end: 0;
  }

  .prose figcaption {
    margin-block-start: 0.5rem;
    font-size: 0.875rem;
    color: hsl(var(--im-muted-foreground));
  }
}

.prose p {
  color: hsl(var(--im-foreground));

  font-size: 1rem;
  line-height: 1.5rem;

  margin-block-start: 0;
  margin-block-end: 1rem;
}

.prose strong {
  color: hsl(var(--im-foreground));
  font-weight: 500;
}

.prose a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;

  &.data-footnote-backref,
  &[data-footnote-ref] {
    font-size: 1em;
    line-height: 1;

    color: hsl(var(--im-muted-foreground));

    &:hover {
      color: hsl(var(--im-accent-foreground));
    }
  }

  &:not(.data-footnote-backref, [data-footnote-ref]) {
    color: hsl(var(--im-secondary));
    font-weight: normal;
    border-block-end: 1.5px solid hsl(var(--im-secondary) / 0.3);

    span {
      white-space: nowrap;
    }

    svg {
      margin-inline-start: 0.1rem;
      color: hsl(var(--im-muted-foreground));
      transition: color 0.2s ease-in-out;
      display: inline-block;

      width: 1em;
      height: 1em;
    }

    &:hover {
      border-block-end-color: hsl(var(--im-secondary));

      svg {
        color: hsl(var(--im-foreground));
      }
    }
  }
}

.prose h1 {
  color: hsl(var(--im-foreground));
}

.prose h2,
.prose h3,
.prose h4 {
  color: hsl(var(--im-accent-foreground));
  margin-block-start: 2em;
  margin-block-end: 1em;
}

.prose h1 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.prose h2 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;

  &:first-of-type {
    margin-block-start: 1em;
  }
}

.prose h3 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.prose h4 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}

.prose p > code {
  font-size: 0.8em;
  font-weight: 500;

  padding: 2px 4px;
  border-radius: calc(var(--im-radius));
  border: 1px solid hsl(var(--im-code));

  background-color: hsl(var(--im-code));
  color: hsl(var(--im-code-foreground));

  &::before {
    content: '';
  }

  &::after {
    content: '';
  }
}

.prose li::marker {
  color: hsl(var(--im-muted-foreground) / 0.6);
}

.prose .footnotes {
  position: relative;
  margin-block-start: 3.5rem;

  h2 {
    opacity: 0;
    margin: 0;
  }

  ol {
    list-style-type: decimal;
    list-style-position: outside;

    li::marker {
      font-size: 0.75rem;
    }
  }

  li {
    padding-inline-start: 0;
  }

  p {
    color: hsl(var(--im-muted-foreground));
    font-size: 0.875rem;
    margin-inline-start: 0.25rem;
    margin-block-end: 0.25rem;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    border-block-start: 1.5px solid hsl(var(--im-border));
  }
}

.prose table {
  tr {
    border-color: hsl(var(--im-border));
  }

  td {
    color: hsl(var(--im-foreground));
  }

  th {
    font-weight: 500;
    color: hsl(var(--im-accent-foreground));
  }

  thead {
    border-color: hsl(var(--im-foreground) / 0.6);
  }
}

/* callouts */
.callout {
  position: relative;
  border-inline-start: 2px solid hsl(var(--callout-color-light));
  border-radius: 0 var(--im-radius) var(--im-radius) 0;
  background-color: hsl(var(--callout-color-light) / 0.1);
  color: hsl(var(--im-foreground) / 0.9);
  margin-block-end: 1rem;
  padding: 1.5rem;

  padding-inline-start: 23px;
  left: -24px;
  width: calc(100% + 24px);
}

@media (max-width: 640px) {
  .callout::before,
  .callout::after,
  .callout-icon {
    display: none;
  }

  .callout {
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-inline-start: -50vw;
    margin-inline-end: -50vw;
    border-radius: 0;
    border-inline-start: 0;
    border-block: 1px solid hsl(var(--callout-color-light));
    padding-inline: var(--im-layout-px);
  }
}

.callout::before,
.callout::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
}

.callout::before {
  transform: translate(-2px, 0);
  width: 15px;
  height: 18px;
  mask-image: url('data:image/svg+xml,<svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.5457 14.7321C1.14944 15.0307 0 16.2368 0 17.7783L0 -0.000179291H15C15 7.38006 9.76182 13.1889 2.5457 14.7321Z" fill="black"/></svg>');
  background-color: hsl(var(--im-background));
}

.callout::after {
  transform: translate(-2px, -1px);
  width: 17px;
  height: 21px;
  background-color: hsl(var(--callout-color-light));
  mask-image: url('data:image/svg+xml,<svg width="17" height="21" viewBox="0 0 17 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16 1C16 8.90473 10.3785 15.0798 2.75483 16.7102C1.76308 16.9223 1 17.7643 1 18.7785L1 20" stroke="black" stroke-width="2" stroke-linecap="round"/></svg>');
}

.callout-title {
  line-height: 1;
  font-weight: 600;
}

.callout-icon {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(calc(-50% - 1px), -50%);
  padding: 6px;
}

.callout-icon svg {
  overflow: visible !important;
  color: hsl(var(--callout-color-light));
  width: 24px;
  height: 24px;
}

.callout-content > :first-child {
  margin-block-start: 0.875rem;
}

.callout-content > :last-child {
  margin-block-end: 0;
}

.callout-collapsible .callout-title {
  cursor: pointer;
}

.callout-collapsible .callout-fold {
  display: flex;
  align-items: center;
  padding-inline-end: 8px;
}

.callout-collapsible > .callout-title .callout-fold svg {
  transform: rotate(-90deg);
  transition: transform 100ms ease-in-out;
}

.callout-collapsible[open] > .callout-title .callout-fold svg {
  transform: none;
}

.callout-fold {
  margin-inline-start: -2px;
}

/* katex */
.katex-display {
  overflow-x: scroll;
}

.katex {
  color: hsl(var(--im-foreground));
}

/* expressive-code */
.expressive-code {
  --ec-frm-frameBoxShdCssVal: none;

  --ec-frm-edBg: hsl(var(--im-background-contrast));
  --ec-frm-trmBg: hsl(var(--im-background-contrast));

  --ec-frm-trmTtbBrdBtmCol: hsl(var(--im-border));
  --ec-frm-trmTtbFg: hsl(var(--im-foreground) / 0.6);
  --ec-frm-trmTtbBg: hsl(var(--im-muted));
  --ec-frm-trmTtbDotsFg: hsl(var(--im-foreground));

  --ec-frm-edTabBarBrdCol: hsl(var(--im-border));
  --ec-frm-edTabBarBrdBtmCol: hsl(var(--im-muted));
  --ec-frm-edTabBarBg: hsl(var(--im-muted));
  --ec-frm-edActTabBg: hsl(var(--im-muted));
  --ec-frm-edTabBrdRad: var(--im-radius);
  --ec-frm-edActTabIndBtmCol: hsl(var(--im-foreground));

  --ec-brdRad: var(--im-radius);
  --ec-brdCol: hsl(var(--im-border));
  --ec-gtrBrdCol: none;
  --ec-uiFontFml: var(--im-sans);
  --ec-codeFontFml: var(--im-mono);
  --ec-lineNumbers-fg: hsl(var(--im-muted-foreground));

  margin-block: 1.5rem;

  .ec-line .gutter .ln {
    padding-inline: 1.5ch 2ch;
  }

  @media (max-width: 640px) {
    position: relative;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-inline-start: -50vw;
    margin-inline-end: -50vw;

    --ec-brdRad: 0;
  }

  .code {
    --ecGtrBrdWd: var(--ec-codePadInl) !important;
  }

  .frame.has-title .header {
    border-block-end: var(--ec-brdWd) solid var(--ec-brdCol);
  }

  .title {
    font-weight: normal;
    font-size: 0.75rem;
  }

  .copy {
    button {
      --ec-frm-inlBtnBg: hsl(var(--im-accent));
      --ec-frm-inlBtnFg: hsl(var(--im-foreground));
      --ec-frm-inlBtnBrd: hsl(var(--im-border));
      --ec-frm-inlBtnBrdOpa: 1;

      width: 2rem !important;
      height: 2rem !important;

      &::before {
        border-radius: var(--im-radius);
      }

      &::after {
        mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect width="14" height="14" x="8" y="8" rx="2" ry="2"/><path d="M4 16c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h10c1.1 0 2 .9 2 2"/></svg>') !important;
        mask-position: center;
      }
    }

    & .feedback ~ button::after {
      mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 6 9 17l-5-5"/></svg>') !important;
    }
  }

  .feedback {
    visibility: hidden;
  }
}
