/* Katex CSS */
@import url('https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css');

.prose {
  position: relative;

  figure {
    p,
    img {
      margin-bottom: 0;
    }

    figcaption {
      margin-top: 0.5rem;
      font-size: 0.875rem;
      color: hsl(var(--im-muted-foreground));
    }
  }

  p {
    color: hsl(var(--im-foreground));

    font-size: 1rem;
    line-height: 1.5rem;

    margin-top: 0;
    margin-bottom: 1rem;
  }

  strong {
    color: hsl(var(--im-foreground));
  }

  a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &.data-footnote-backref,
    &[data-footnote-ref] {
      font-size: 1em;
      line-height: 1;

      color: hsl(var(--im-muted-foreground));

      &:hover {
        color: hsl(var(--im-accent-foreground));
      }
    }

    &:not(.data-footnote-backref, [data-footnote-ref]) {
      color: hsl(var(--im-link));
      position: relative;

      span {
        display: inline-block;
        margin-left: 0.1rem;
        vertical-align: text-top;

        color: hsl(var(--im-muted-foreground));

        svg {
          width: 1em;
          height: 1em;
        }
      }

      &::before {
        content: '';

        position: absolute;

        bottom: -2px;
        left: 0;
        right: 0;

        height: 1px;

        background-color: hsl(var(--im-link) / 0.25);

        transition: all 0.3s ease-in-out;
      }

      &:has(span) {
        &::before {
          right: calc(1em + 0.1rem);
        }
      }

      &:hover {
        &::before {
          background-color: hsl(var(--im-link));
        }
      }
    }
  }

  h2,
  h3,
  h4 {
    color: hsl(var(--im-header));
  }

  h2 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 500;

    margin-top: 2.5rem;
    margin-bottom: 1rem;

    &:first-of-type {
      margin-top: 2rem;
    }
  }

  h3 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;

    margin-top: 2.25rem;
    margin-bottom: 1rem;
  }

  h4 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;

    margin-top: 1.85rem;
    margin-bottom: 0.5rem;
  }

  p > code {
    display: inline-block;

    font-size: 0.8em;
    font-weight: 500;

    padding: 0 0.5rem;
    border-radius: calc(var(--im-radius));

    background-color: hsl(var(--im-code));
    color: hsl(var(--im-code-foreground));

    &::before {
      content: '';
    }

    &::after {
      content: '';
    }
  }

  li::marker {
    color: hsla(var(--im-muted-foreground) / 0.6);
  }

  .footnotes {
    position: relative;
    margin-top: 3.5rem;

    h2 {
      opacity: 0;
      margin: 0;
    }

    ol {
      list-style-type: decimal;
      list-style-position: outside;

      li::marker {
        font-size: 0.75rem;
      }
    }

    p {
      color: hsl(var(--im-muted-foreground));
      font-size: 0.875rem;
      margin-left: 0.25rem;
      margin-bottom: 0.25rem;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 80px;
      border-top: 1.5px solid hsl(var(--im-border));
    }
  }

  table {
    tr {
      border-color: hsl(var(--im-border));
    }

    thead {
      border-color: hsl(var(--im-foreground));
    }
  }
}

.katex-display {
  overflow-x: scroll;
}

.expressive-code {
  --ec-frm-frameBoxShdCssVal: none;

  --ec-frm-edBg: hsl(var(--im-code-block));
  --ec-frm-trmBg: hsl(var(--im-code-block));

  --ec-frm-trmTtbBrdBtmCol: hsl(var(--im-border));
  --ec-frm-trmTtbFg: hsl(var(--im-foreground) / 0.6);
  --ec-frm-trmTtbBg: hsl(var(--im-code-block-header));
  --ec-frm-trmTtbDotsFg: hsl(var(--im-foreground));

  --ec-frm-edTabBarBrdCol: hsl(var(--im-border));
  --ec-frm-edActTabIndBtmCol: hsl(var(--im-foreground));

  --ec-brdRad: var(--im-radius);
  --ec-brdCol: hsl(var(--im-border));
  --ec-gtrBrdCol: none;
  --ec-uiFontFml: var(--im-sans);
  --ec-codeFontFml: var(--im-mono);
  --ec-lineNumbers-fg: hsl(var(--im-muted-foreground));

  .ec-line .gutter .ln {
    padding-inline: 1.5ch 2ch;
  }

  @media (max-width: 640px) {
    position: relative;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    --ec-brdRad: 0;
  }

  .code {
    --ecGtrBrdWd: var(--ec-codePadInl) !important;
  }

  .frame.has-title .header {
    border-bottom: var(--ec-brdWd) solid var(--ec-brdCol);
  }

  .title {
    font-weight: normal;
    font-size: 0.75rem;
  }

  .copy {
    button {
      --ec-frm-inlBtnBg: hsl(var(--im-accent));
      --ec-frm-inlBtnFg: hsl(var(--im-foreground));
      --ec-frm-inlBtnBrd: hsl(var(--im-border));
      --ec-frm-inlBtnBrdOpa: 1;

      width: 2rem !important;
      height: 2rem !important;

      &::before {
        border-radius: var(--im-radius);
      }

      &::after {
        mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect width="14" height="14" x="8" y="8" rx="2" ry="2"/><path d="M4 16c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h10c1.1 0 2 .9 2 2"/></svg>') !important;
        mask-position: center;
      }
    }

    & .feedback ~ button::after {
      mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 6 9 17l-5-5"/></svg>') !important;
    }
  }

  .feedback {
    visibility: hidden;
  }
}
