:root {
  --im-background: 72 24% 98%;
  --im-foreground: 72 7% 28%;

  --im-background-contrast: 60 20% 99%;

  --im-selection: var(--im-secondary) / 0.1;
  --im-selection-foreground: var(--im-secondary);

  --im-primary: 0 0% 10%;
  --im-primary-foreground: 0 0% 98%;

  --im-secondary: 19 90% 50%;
  --im-secondary-foreground: 19 90% 98%;

  --im-accent: 60 1% 94%;
  --im-accent-foreground: 60 6% 10%;

  --im-muted: 60 1% 98%;
  --im-muted-foreground: 60 1% 60%;

  --im-heart: 3 92% 60%;

  --im-danger: 3 92% 54%;
  --im-danger-foreground: 3 92% 98%;
  --im-danger-tint: 3 92% 50%;

  --im-popover: var(--im-background-contrast);
  --im-popover-foreground: var(--im-foreground);

  --im-input: var(--im-background);
  --im-input-foreground: var(--im-foreground);
  --im-input-border: 60 1% 88%;

  --im-callout-inline-extension: 32px;
  --im-callout-border: 2px solid;
  --im-callout-info: 239 80% 64%;
  --im-callout-note: 239 80% 64%;
  --im-callout-warning: 37 99% 50%;

  --im-tooltip: 0 0% 98.6%;

  --im-code: var(--im-secondary) / 0.05;
  --im-code-foreground: var(--im-secondary);

  --im-border: 60 1% 92%;
  --im-ring: 60 1% 80% / 0.6;

  --im-radius-lg: 0.4rem;
  --im-radius-md: calc(var(--im-radius-lg) - 2px);
  --im-radius-sm: calc(var(--im-radius-lg) - 4px);

  --im-layout-px: 32px;

  --im-sans: 'Inter Variable', sans-serif;
  --im-mono: 'Fira Code Variable', monospace;

  --im-screen-xs: 564px;
  --im-screen-view: var(--im-screen-xs);

  --im-timing-fn: cubic-bezier(0.4, 0, 0.2, 1);

  --im-duration-lg: 0.3s;
  --im-duration-base: calc(var(--im-duration-lg) - 0.1s);
  --im-duration-sm: calc(var(--im-duration-lg) - 0.2s);

  --im-code-block-contrast: var(--im-background-contrast);
  --im-code-block-foreground: var(--im-foreground);
  --im-code-block-border: var(--im-border);
  --im-code-block-accent: var(--im-accent);
  --im-code-block-muted: var(--im-muted);
  --im-code-block-muted-foreground: var(--im-muted-foreground);
  --im-code-block-inline-extension: 32px;
}
