:root {
  --im-background: 72 24% 98%;
  --im-foreground: 72 7% 28%;

  --im-background-contrast: 60 20% 99%;

  --im-selection: var(--im-secondary) / 0.1;
  --im-selection-foreground: var(--im-secondary);

  --im-primary: 0 0% 10%;
  --im-primary-foreground: 0 0% 98%;

  --im-secondary: 19 90% 50%;
  --im-secondary-foreground: 19 90% 98%;

  --im-accent: 60 1% 94%;
  --im-accent-foreground: 60 6% 10%;

  --im-muted: 60 1% 98%;
  --im-muted-foreground: 60 1% 60%;

  --im-heart: 3 92% 60%;

  --im-danger: 3 92% 54%;
  --im-danger-foreground: 3 92% 98%;
  --im-danger-tint: 3 92% 50%;

  --im-popover: var(--im-background-contrast);
  --im-popover-foreground: var(--im-foreground);

  --im-input: var(--im-background);
  --im-input-foreground: var(--im-foreground);
  --im-input-border: 60 1% 82%;

  --im-tooltip: 0 0% 98.6%;

  --im-code: var(--im-secondary) / 0.05;
  --im-code-foreground: var(--im-secondary);

  --im-border: 60 1% 92%;
  --im-ring: 60 1% 80% / 0.6;

  --im-radius: 0.35rem;
  --im-layout-px: 2rem;

  --im-sans: 'Inter Variable', sans-serif;
  --im-mono: 'Fira Code Variable', monospace;
}
