---
import Button from '@/components/ui/button'
import { ShareIcon } from '@/icons'
---

<Button variant="ghost" size="icon" className="rounded-full size-10">
  <ShareIcon className="size-5" />
</Button>
