---
import Root from '@/layouts/Root.layout.astro'
import Main from '@/layouts/Main.layout.astro'
import Markdown from '@/layouts/Markdown.layout.astro'

import RenderMD from '@/components/view/RenderMD.astro'

import ListOfArticles from '@/components/view/ListOfArticles.astro'
import CommonSeo from '@/components/seo/CommonSeo.astro'
---

<Root>
  <CommonSeo slot="head" />
  <Main>
    <Markdown>
      <RenderMD slug="home" />
    </Markdown>
    <ListOfArticles />
  </Main>
</Root>
