---
import Main from '@/layouts/Main.layout.astro'
import Root from '@/layouts/Root.layout.astro'
import Markdown from '@/layouts/Markdown.layout.astro'

import RenderMD from '@/components/view/RenderMD.astro'
import CommonSeo from '@/components/seo/CommonSeo.astro'
import { SITE } from '@/config'
---

<Root>
  <CommonSeo slot="head" title={`Newsletter | ${SITE.title}`} robots="none" />
  <Main>
    <Markdown>
      <RenderMD slug="newsletter" />
    </Markdown>
  </Main>
</Root>
