---
import { SITE } from '@/config'

import Root from '@/layouts/Root.layout.astro'
import Main from '@/layouts/Main.layout.astro'
import Markdown from '@/layouts/Markdown.layout.astro'

import RenderMD from '@/components/view/RenderMD.astro'
import CommonSeo from '@/components/seo/CommonSeo.astro'
---

<Root>
  <CommonSeo
    slot="head"
    title={`Desuscribirse | ${SITE.title}`}
    robots="none"
  />
  <Main currentPage="Desuscribirse">
    <Markdown>
      <RenderMD slug="unsubscribe" />
    </Markdown>
  </Main>
</Root>
