---
import Link from '@/components/ui/link'
---

<footer
  class="pt-8 pb-12 border-t bg-background-contrast relative w-screen left-1/2 right-1/2 -ml-[50vw] -mr-[50vw]"
>
  <div class="container">
    <ul
      class="mb-14 flex justify-between *:flex *:flex-col *:items-start *:gap-y-2 text-sm"
    >
      <li>
        <Link className="text-foreground border-b-transparent" href="/"
          >Inicio</Link
        >
      </li>
      <li>
        <Link className="text-foreground border-b-transparent" href="/rss.xml"
          >RSS</Link
        >
      </li>
      <li>
        <Link
          className="text-foreground border-b-transparent"
          href="https://portfolio.imangelo.dev/">Portfolio</Link
        >
        <Link
          className="text-foreground border-b-transparent"
          href="https:/if7sports-links.web.app/michelangelo-valderrama"
          >Links</Link
        >
      </li>
    </ul>
    <p
      class="uppercase flex items-center justify-between text-xs text-muted-foreground"
    >
      <span>di mikeˈlandʒelo</span>
      <span>MD, ES — 2025</span>
    </p>
  </div>
</footer>
