---
import Link from '@/components/ui/link'

interface Props {
  currentPage?: string
}
---

<header>
  <nav class="mb-6 flex items-center">
    <Link
      className={`
        pb-1
        text-accent-foreground
        border-none
        font-medium
      `}
      href="/"
    >
      Michelangelo Valderrama
    </Link>
  </nav>
</header>
