---
import Link from '@/components/ui/link'

interface Props {
  currentPage?: string
}

const { currentPage } = Astro.props

const { pathname } = Astro.url
---

<header>
  <nav class="flex items-end justify-between mb-12">
    <Link
      data-active={pathname === '/'}
      className={`
        pb-1
        data-[active='true']:text-accent-foreground
        data-[active='true']:border-b-accent-foreground
      `}
      href="/">Inicio</Link
    >
    <div class="border-b flex-1"></div>
    {
      currentPage && (
        <Link
          className={`
          pb-1
          ml-auto
          text-accent-foreground
          border-b-accent-foreground
        `}
          href={`/${pathname}`}
        >
          {currentPage}
        </Link>
      )
    }
  </nav>
</header>
