---
import Link from '@/components/ui/link'

interface Props {
  currentPage?: string
}

const { currentPage } = Astro.props

const { pathname } = Astro.url
---

<header>
  <nav class="mb-10 flex items-center">
    <Link
      data-active={pathname === '/'}
      className={`
        pb-1
        data-[active='true']:text-accent-foreground
        border-none
      `}
      href="/"
    >
      Michelangelo Valderrama
    </Link>
    {
      currentPage && (
        <Link
          className={`
            pb-1
            ml-auto
            text-accent-foreground
            border-none
          `}
          href={`/${pathname}`}
        >
          {currentPage}
        </Link>
      )
    }
  </nav>
</header>
