---
import { SITE } from '@/config'

interface Props {
  title?: string
  description?: string
}

const { title, description } = Astro.props

let pageTitle: string = SITE.title
if (title && title != SITE.title) {
  pageTitle = title + ' - ' + SITE.title
}

const pageDescription = description ?? SITE.description
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>{pageTitle}</title>
<meta name="description" content={pageDescription} />

<link rel="shortcut icon" href="/favicon.svg" type="image/x-icon" />
