---
import type { MarkdownHeading } from 'astro'

import TocContent from './toc-content.astro'
import TocLink from './toc-link.astro'

interface Props {
  headings: MarkdownHeading[]
  title: string
}

const { headings, title } = Astro.props
---

<aside class="fixed left-0 right-0 top-32 hidden lg:block pointer-events-none">
  <div class="max-w-screen-2xl ma">
    <div class="ml-8 max-w-48">
      <ul class="pointer-events-auto">
        <li class="mb-6">
          <TocLink
            slug="title"
            href="#"
            data-hidden
            className={`
              transition-all
              data-[hidden=true]:opacity-0 data-[hidden=true]:pointer-events-none
            `}>{title}</TocLink
          >
        </li>
        <TocContent {headings} />
      </ul>
    </div>
  </div>
</aside>

<script>
  /* Hedings */
  const allHeadingsElements = document.querySelectorAll('h1, h2')
  const allLinksToHeadings =
    document.querySelectorAll<HTMLAnchorElement>('a[data-toc-link]')

  const options: IntersectionObserverInit = {
    root: null,
    rootMargin: '0px 0px -500px 0px',
    threshold: 1
  }

  const callback: IntersectionObserverCallback = (entries) => {
    entries.forEach((entry) => {
      const {
        isIntersecting,
        target: { id: headingId }
      } = entry

      if (!isIntersecting) return

      allLinksToHeadings.forEach((linkToHeading) => {
        const { headingId: linkDataHeadingId } = linkToHeading.dataset

        const isLinkToCurrentHeading = linkDataHeadingId === headingId

        linkToHeading.setAttribute('data-active', isLinkToCurrentHeading + '')
      })
    })
  }

  const headingsObserver = new IntersectionObserver(callback, options)

  allHeadingsElements.forEach((headingElement) => {
    headingsObserver.observe(headingElement)
  })

  /* Main heading */
  const mainHeading = document.querySelector<HTMLHeadingElement>('h1')!

  const mainHeadingObserver = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        allLinksToHeadings
          .item(0)
          .setAttribute('data-hidden', entry.isIntersecting + '')
      })
    },
    {
      rootMargin: '0px'
    }
  )

  mainHeadingObserver.observe(mainHeading)
</script>
