---
import type { HTMLAttributes } from 'astro/types'

import Footer from '@/components/base/Footer.astro'
import Header from '@/components/base/Header.astro'

interface Props extends HTMLAttributes<'main'> {
  currentPage?: string
}

const { class: className, currentPage, ...props } = Astro.props
---

<main
  class:list={['container min-h-svh pb-24 pt-12 flex flex-col', className]}
  {...props}
>
  <Header {currentPage} />
  <article class="flex-1">
    <slot />
  </article>
</main>
<Footer />
